@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,700;1,400;1,700&display=swap');

:root {
    --color-mint: #63d297;
    --color-lightmint: #e7f9ef;
    --color-darkmint: #0a2918;
    --color-lightyellow: #FEF8E3;
    --font-header: 'Poppins', sans-serif;
    --font-paragraph: sans-serif;
}

body {
    margin: 0;
    font-family: var(--font-paragraph);
}

h1, h2, h3, h4, h5, h6 {
    font-family: var(--font-header);
    overflow-wrap: anywhere;
}

button, input[type="submit"] {
    background: var(--color-darkmint);
    color: var(--color-lightmint);
    border: 0;
}   button:hover,button:focus,
    input[type="submit"]:hover,input[type="submit"]:focus {
    text-decoration: underline;
    cursor: pointer;
}

form {
    display: grid;
    grid-template-columns: max-content max-content;
    grid-gap: 1em;
    padding: 1em;
}

    form> {
        grid-column: 1 / 3
    }

body {
    background: var(--color-lightmint);
    min-height: 100vh;
}

#banner {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    padding: 1em;
    background: var(--color-mint);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: baseline;
    z-index: 10;
}
    #banner>h1 {
        font-size: 5vmax;
        margin: 0;
        overflow: hidden;
        text-overflow: ellipsis;
        overflow-wrap: normal;
    }
        /* Might remove this later, can't find a colour that contrasts nicely */
        #banner>h1>span:first-of-type {
            color: white;
        }

    /* #userinfo */

        #userinfo>h2 {
            font-size: 2vmax;
            margin: 0;
            display: inline-block;
        }

/* source: https://css-tricks.com/fading-in-a-page-on-load-with-css-javascript/ */
#main {
    background: var(--color-lightmint);
    padding: 0 10vw;
    animation: fadeInAnimation ease 3s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}   #main.hidden {
    opacity: 0;
}   #main.visible {
    opacity: 1;
    transition: opacity 1s ease-out;
}

    #main-container {
        margin-top: 20px;
    }

        #main-container>section {
            --section-padding: 0 10px;
            border: 1px solid var(--color-mint);
            box-shadow: 0 0 0 1px var(--color-mint) inset; /* required to fix fractional px render bug */
        }

            #main-container>section>header {
                background: var(--color-mint);
                position: relative;
            }

                #main-container>section>header>h1 {
                    margin: 0;
                    padding: var(--section-padding);
                }

                #main-container>section>header>button {
                    position: absolute;
                    right: 0;
                    top: 0;
                    bottom: 0;
                }

            #main-container>section>p {
                padding: var(--section-padding);
            }

#footer {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background: var(--color-mint);
    padding: 1em;
}
    
    /* #footer>nav  */

        #footer>nav>ul {
            list-style-type: none;
            padding: 0;
            margin: 0;
            display: flex;
            justify-content: space-between;
        }