#login-section {
    width: fit-content;
}

#login-help {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    background: var(--color-lightyellow);
    padding: 0.5em;
}

#login-form {
    display: grid;
    grid-template-columns: max-content max-content;
    grid-gap: 1em;
    padding: 1em;
}

    #login-submit {
        grid-column: 1 / 3
    }