#reviews-bar {
    flex-grow: 1;
}

#courses-bar {
    flex-grow: 3;
}

#main-container {
    display: flex;
    /* flex-flow: row wrap; */
    /* Figure out a way to allow wrapping for mobile use,
    while not always turned into columns due to wide paragraphs */
    /* align-items: stretch;  */
    gap: 1em;
}