{% extends 'base.html' %}
{% load staticfiles %}

{% block title-block %}
    {% if category %}
        {{course.course_ID}} | CourseMate
    {% else %}
        Unknown Category
    {% endif %}
{% endblock %}

{% block stylesheet-block %}
<link rel="stylesheet" type="text/css" href="{% static 'css/upload.css' %}">
{% endblock %}

{% block body-block %}
    <div id="main-container">
    {% if course %}
        <h1>{{course.course_name}}</h1>
        <div id="description">
            {{course.description}}
        </div>
        <div>
            {% if students %}
            <ul>
                {% for student in students %}
                <li>{{ student.student_ID }}</li>
                {% endfor %}
            </ul>
            {% else %}
                <strong>No students currently in course.</strong>
            {% endif %}
            <ul>
                <button onclick="window.location.href='/teacher/<slug:course_name_slug>/register-student'">Register a student to this course</button>
            </ul>
            <ul>
                <button onclick="window.location.href='teacher/<slug:course_name_slug>/edit-course-detail'">Edit course details</button>
            </ul>
            <ul>
                <button onclick="window.location.href='teacher/<slug:course_name_slug>/marking'">Go to marking</button>
            </ul>
            <ul>
                <button onclick="window.location.href='teacher/<slug:course_name_slug>/marking'">Go to marking</button>
            </ul>
            <ul>
                <button onclick="window.location.href='teacher/<slug:course_name_slug>/edit-course-cont'">Edit course content</button>
            </ul>
        </div>
    {% endif %}
    </div>
{% endblock %}