{% extends 'base.html' %}
{% load staticfiles %}

{% block title-block %}
Edit Course Content | CourseMate
{% endblock %}

{% block stylesheet-block %}
<link rel="stylesheet" type="text/css" href="{% static 'css/upload.css' %}">
{% endblock %}

{% block body_block %}
    <div id="main-container">
        <div id = "assignments-list">
        {% if course %}
            <section id="assignments-bar">
                <header id="assignments-header">
                    <h1>Assignments for {{ course.name }}</h1>
                </header>
                {% if assignments %}
                    <ul>
                        {% for assignment in assignments %}
                        <li>{{ assignment.name }}</li>
                        {% endfor %}
                    </ul>
                    {% else %}
                    <strong>No assignments currently in course.</strong>
                {% endif %}
            </section>
        {% else %}
            <h1> Unkown Course </h1>
        {% endif %}
        </div>
        <!--Insert form to create an assignment-->
        <div id = "make assignment">
            <form id="assignment-form">
                <label for="name">Assignment Name</label>
                <input type="text" id="name" name="name" required>
            
                <label for="description">Assignment Description</label>
                <textarea id="description" name="description" spellcheck="true"></textarea>
            
                <input type="submit" value="Submit" id="course-submit">
            </form>
        </div>
    </div>

{% endblock %}