{% extends 'base.html' %}
{% load staticfiles %}

{% block title-block %}
    Home | CourseMate
{% endblock %}

{% block stylesheet-block %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/home.css' %}">
{% endblock %}

{% block body-block %}
    <div id="main-container">
        <h1> Welcome to CourseMate! </h1>
        <section id="login-section">
            <header>
                <h1>Login</h1>
            </header>
            <div id="login-help">
                <a href="">Forgot your password?</a>
                <a href="{% url 'coursemateapp:signup' %}">Sign Up</a>
            </div>
            <form id="login-form">
                <label for="username">Username</label>
                <input type="text" id="username" name="username">
                <label for="password">Password</label>
                <input type="password" id="password" name="password">
                <label for="usertype">I am a...</label>
                <select id="usertype" name="usertype">
                    <option value="student">Student</option>
                    <option value="teacher">Teacher</option>
                </select>
                <input type="submit" value="Log in" id="login-submit">
            </form>
        </section>
    </div>
{% endblock %}