{% extends 'base.html' %}
{% load staticfiles %}

{% block title-block %}
Index | CourseMate
{% endblock %}

{% block stylesheet-block %}
<link rel="stylesheet" type="text/css" href="{% static 'css/upload.css' %}">
{% endblock %}

{% block body-block %}
    <h1>Welcome to CourseMate!</h1>
    <div id="main-container">
        <div>
            An application for students and teachers <br />
            <strong>{{ boldmessage }}</strong><br />
        </div>
        <div>
            <a href="/coursemateapp/about/">About</a><br />
        </div>
    </div>
{% endblock %}