{% extends 'base.html' %}
{% load staticfiles %}

{% block title-block %}
Register Course | CourseMate
{% endblock %}

{% block stylesheet-block %}
<link rel="stylesheet" type="text/css" href="{% static 'css/upload.css' %}">
{% endblock %}

{% block body-block %}
<div id="main-container">
    <h1> Register Course</h1>
    <form id="course-form" method="POST" action="">
        {% csrf_token %}
        {{ form.course_ID.label }}
        {{ form.course_ID }}
        {{ form.name.label }}
        {{ form.name }}
        {{ form.description.label }}
        {{ form.description }}
        <input type="submit" value="Submit" id="course-submit">
    </form>
</div>
{% endblock %}