{% extends 'base.html' %}
{% load staticfiles %}

{% block title-block %}
Register a Student to a Course | CourseMate
{% endblock %}

{% block stylesheet-block %}
<link rel="stylesheet" type="text/css" href="{% static 'css/upload.css' %}">
{% endblock %}

{% block body-block %}
<div id="main-container">
    <h1> Register Student</h1>
    <!--Borrowed form, needs to be suited to adding a student to the course-->
    <form id="student-reg-form" method="POST" action="">
        {% csrf_token %}
        {{ form.student.label }}
        {{ form.student }}

        <input type="submit" value="Submit" id="student-submit">
    </form>
{% endblock %}
</div>