{% extends 'base.html' %}
{% load staticfiles %}

{% block title-block %}
Register a Student to a Course | CourseMate
{% endblock %}

{% block stylesheet-block %}
<link rel="stylesheet" type="text/css" href="{% static 'css/upload.css' %}">
{% endblock %}

<div id="main-container">
    <h1> Register Student</h1>
    <!--Borrowed form, needs to be suited to adding a student to the course-->
    <form id="student-reg-form">

        <label for="student_ID">Student ID</label>
        <input type="text" id="student_ID" name="student_ID" required>

        <input type="submit" value="Submit" id="student-submit">
    </form>
</div>