<!DOCTYPE html>

{% load staticfiles %}

<html lang="en">

    <head>
        <title>Teachers | CourseMate</title>
    </head>

    <body>
        <header>
            <h1>CourseMate</h1> 
            <h2>Welcome Back, {user}!</h2>
            <a href="">
                <img src="user pfp" alt="{user}'s profile picture" />
            </a>
        </header>

        <main>
            <section id="reviews-bar">
                <header id="reviews-header">
                    <h1>Your Reviews</h1>
                </header>
                <article class="review">
                    <p>Review text</p>
                    <ul>
                        <li>Review: {score}</li>
                        <li>Date: {date}</li>
                    </ul>
                </article>
            </section>

            <section id="courses-bar">
                <header id="courses-header">
                    <h1>Your Courses</h1>
                    <button>Register a Course</button>
                </header>
                <article class="course">
                    <h2>Course {number}</h2>
                    <ul>
                        <li>Avg Grade: {grade}</li>
                        <li>No. of Students: {students}</li>
                    </ul>
                    <h3>Course Chapters</h3>
                    <ol>
                        <li>Week 1</li>
                        <li>Week 2</li>
                        <li>Week 3</li>
                        <li>etc.</li>
                    </ol>
                </article>
            </section>

        </main>

        <footer>
            <a href="about.html">About CourseMate</a>
            <a href="credits.html">Credits</a>
        </footer>
    </body>

</html>