{% extends 'base.html' %}
{% load staticfiles %}

{% block title-block %}
    Teacher's Overview | CourseMate
{% endblock %}

{% block stylesheet-block %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/overview.css' %}">
{% endblock %}

{% block body-block %}
    <div id="main-container">
        <section id="reviews-bar">
            <header id="reviews-header">
                <h1>Your Reviews</h1>
            </header>
            {% if reviews %}
                {% for review in reviews %}
                    <article class="review">
                        <p>Review text</p>
                        <ul>
                            <li>Rating: {{review.rating}}</li>
                            <li>Date: {{review.date}}</li>
                        </ul>
                    </article>
                {% endfor %}
            {% else %}
                <p> You currently do not have any reviews. </p>
            {% endif %}
        </section>

        <section id="courses-bar">
            <header id="courses-header">
                <h1>Your Courses</h1>
                <!--Make this dynamic-->
                <button onclick="window.location.href='/coursemateapp/register-course'">Register a Course</button>
            </header>

            {% if courses %}
                <tr>
                    <th>Course ID</th>
                    <th>Name</th>
                </tr>
                {% for course in courses %}
                    <article class="course">
                        <tr>
                            <td><a href="/coursemateapp/teacher/course/{{ course.slug }}">{{ course.course_ID }}</a></td>
                            <td>{{ course.name }}</td>
                            <button onclick="window.location.href='/coursemateapp/teacher/course/{{ course.slug }}/student'">Student</button>
                            <button onclick="window.location.href='/coursemateapp/teacher/course/{{ course.slug }}/edit'">Edit</button>
                        </tr>
                    </article>
                {% endfor %}
            {% else %}
                <p> You currently do not have any courses. Click the button above to register a course. </p>
            {% endif %}

        </section>
    </div>
{% endblock %}

